In [1]:
import pandas as pd 
chipotle_file_path="./Pandas_exercises/chipotle.tsv"
chipo=pd.read_csv(chipotle_file_path,sep="\t") # \t 相当于一个tab键

In [2]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
chipo.shape[1]  # 数据集中有多少列  shape 返回一个元组

5

In [10]:
chipo.columns # 显示全部列名称

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [14]:
# 被下单最多的商品排序
chipo[["item_name","quantity"]].groupby(by=["item_name"]).sum().sort_values(by=["quantity"],ascending=False).head(10)

                              quantity
item_name
Chicken Bowl                       761
Chicken Burrito                    591
Chips and Guacamole                506
Steak Burrito                      386
Canned Soft Drink                  351
Chips                              230
Steak Bowl                         221
Bottled Water                      211
Chips and Fresh Tomato Salsa       130
Canned Soda                        126

In [15]:
# 一共有多少商品被下单
chipo["item_name"].nunique()

50

In [17]:
chipo[["choice_description","quantity"]].groupby(by=["choice_description"]).sum().sort_values(by=["quantity"],ascending=False).head(10)

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        40
[Lemonade]                                                36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...        36
[Coca Cola]                                               32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...        30

In [18]:
chipo["choice_description"].value_counts().head(10)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Lemonade]                                                                            33
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                     28
Name: choice_description, dtype: int64

In [20]:
# 一共有多少商品被下单
chipo["quantity"].sum()

4972

In [21]:
# 把item_price 转换为浮点数
chipo["item_price"]=chipo["item_price"].apply(lambda x : float(x[1:]))

In [24]:
chipo["item_price"].dtypes

dtype('float64')

In [26]:
# 计算收入
revenue=(chipo["quantity"]*chipo["item_price"]).sum()
revenue

39237.02

In [27]:
# 一共有多少订单
chipo["order_id"].nunique()

1834

In [31]:
#每一单(order)对应的平均总价是多少？
chipo['item_price_sum'] = chipo['quantity'] * chipo['item_price']

In [30]:
chipo["item_price_sum"]

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_sum, Length: 4622, dtype: float64