In [1]:
x <- c(1,2,4,5,6,7,8)
mean(x)

[1] 4.714286

In [2]:
sd(x)

[1] 2.56348

In [3]:
# setting the seed for random number generation
runif(5) # generate pseudo-random numbers from a uniform distribution on the interval 0 to 1

[1] 0.24869945 0.10185354 0.34294072 0.73811370 0.04121357

In [4]:
runif(5)

[1] 0.3488745 0.1379638 0.8747157 0.7692379 0.7818686

In [5]:
set.seed(1234)
runif(5)

[1] 0.1137034 0.6222994 0.6092747 0.6233794 0.8609154

In [6]:
set.seed(1234)
runif(5)

[1] 0.1137034 0.6222994 0.6092747 0.6233794 0.8609154

In [7]:
# generating data from a multivariate normal distribution
library(MASS)
options(digits = 3)
set.seed(1234)

mean <- c(230.7, 146.7, 3.6)
sigma <- matrix(c(15360.8, 6721.2, -47.1,6721.2,4700.9,-16.5,-47.1,-16.5,0.3), nrow = 3, ncol = 3)
mydata <- mvrnorm(500,mean,sigma)
mydata <- as.data.frame(mydata)
names(mydata) <- c("y", "x1", "x2")

In [8]:
dim(mydata)

[1] 500   3

In [9]:
head(mydata, n = 10)

   y     x1    x2
1   98.8  41.3 3.43
2  244.5 205.2 3.80
3  375.7 186.7 2.51
4  -59.2  11.2 4.71
5  313.0 111.0 3.45
6  288.8 185.1 2.72
7  134.8 165.0 4.39
8  171.7  97.4 3.64
9  167.2 101.0 3.50
10 121.1  94.5 4.10

In [10]:
# Applying a function to the rows(columns) of a matrix
mydata <- matrix(rnorm(30), nrow = 6)
mydata

     [,1]   [,2]   [,3]   [,4]   [,5]
[1,]  1.794  0.459  1.203  1.234  0.591
[2,] -1.365 -1.261  0.769 -1.891 -0.435
[3,] -0.707 -0.527  0.238 -0.223 -0.251
[4,] -0.556 -0.557 -1.415  0.768 -0.926
[5,] -0.310 -0.374  2.934  0.388  1.087
[6,] -0.376 -0.604  0.935  0.609 -1.944

In [11]:
apply(mydata,1,mean) # calculates the row means

[1]  1.056 -0.837 -0.294 -0.537  0.745 -0.276

In [12]:
apply(mydata,2,mean) # calculates the column means

[1] -0.253 -0.478  0.777  0.148 -0.313

In [13]:
apply(mydata, 2, mean, trim = 0.2)

[1] -0.487 -0.516  0.786  0.386 -0.255

In [14]:
# A solution to the learning example
options(digits = 2)
Student <- c("John Davis", "Angela Williams", "Bullwinkle Moose","David Jones", "Janice Markhammer", 
             "Cheryl Cushing","Reuven Ytzrhak", "Greg Knox", "Joel England","Mary Rayburn")
Math <- c(502, 600, 412, 358, 495, 512, 410, 625, 573, 522)
Science <- c(95, 99, 80, 82, 75, 85, 80, 95, 89, 86)
English <- c(25, 22, 18, 15, 20, 28, 15, 30, 27, 18)
roster <- data.frame(Student, Math, Science, English,stringsAsFactors=FALSE)
roster

   Student           Math Science English
1  John Davis        502  95      25
2  Angela Williams   600  99      22
3  Bullwinkle Moose  412  80      18
4  David Jones       358  82      15
5  Janice Markhammer 495  75      20
6  Cheryl Cushing    512  85      28
7  Reuven Ytzrhak    410  80      15
8  Greg Knox         625  95      30
9  Joel England      573  89      27
10 Mary Rayburn      522  86      18

In [15]:
z <- scale(roster[,2:4])
score <- apply(z,1,mean)
roster <- cbind(roster, score)
roster

   Student           Math Science English score
1  John Davis        502  95      25       0.56
2  Angela Williams   600  99      22       0.92
3  Bullwinkle Moose  412  80      18      -0.86
4  David Jones       358  82      15      -1.16
5  Janice Markhammer 495  75      20      -0.63
6  Cheryl Cushing    512  85      28       0.35
7  Reuven Ytzrhak    410  80      15      -1.05
8  Greg Knox         625  95      30       1.34
9  Joel England      573  89      27       0.70
10 Mary Rayburn      522  86      18      -0.18

In [18]:
y <- quantile(score,c(0.8, 0.6, 0.4, 0.2))
y

  80%   60%   40%   20%
 0.74  0.44 -0.36 -0.89

In [20]:
roster$grade[score >= y[1]] <- "A"
roster$grade[score < y[1] & score >= y[2]] <- "B"
roster$grade[score < y[2] & score >= y[3]] <- "C"
roster$grade[score < y[3] & score >= y[4]] <- "D"
roster$grade[score < y[4]] <- "F"
roster

   Student           Math Science English score grade
1  John Davis        502  95      25       0.56 B
2  Angela Williams   600  99      22       0.92 A
3  Bullwinkle Moose  412  80      18      -0.86 D
4  David Jones       358  82      15      -1.16 F
5  Janice Markhammer 495  75      20      -0.63 D
6  Cheryl Cushing    512  85      28       0.35 C
7  Reuven Ytzrhak    410  80      15      -1.05 F
8  Greg Knox         625  95      30       1.34 A
9  Joel England      573  89      27       0.70 B
10 Mary Rayburn      522  86      18      -0.18 C

In [21]:
name <- strsplit((roster$Student)," ")
name

[[1]]
[1] "John"  "Davis"

[[2]]
[1] "Angela"   "Williams"

[[3]]
[1] "Bullwinkle" "Moose"

[[4]]
[1] "David" "Jones"

[[5]]
[1] "Janice"     "Markhammer"

[[6]]
[1] "Cheryl"  "Cushing"

[[7]]
[1] "Reuven"  "Ytzrhak"

[[8]]
[1] "Greg" "Knox"

[[9]]
[1] "Joel"    "England"

[[10]]
[1] "Mary"    "Rayburn"

In [22]:
Lastname <- sapply(name, "[", 2)
Firstname <- sapply(name, "[", 1)
roster <- cbind(Firstname, Lastname, roster[,-1])
roster

   Firstname  Lastname   Math Science English score grade
1  John       Davis      502  95      25       0.56 B
2  Angela     Williams   600  99      22       0.92 A
3  Bullwinkle Moose      412  80      18      -0.86 D
4  David      Jones      358  82      15      -1.16 F
5  Janice     Markhammer 495  75      20      -0.63 D
6  Cheryl     Cushing    512  85      28       0.35 C
7  Reuven     Ytzrhak    410  80      15      -1.05 F
8  Greg       Knox       625  95      30       1.34 A
9  Joel       England    573  89      27       0.70 B
10 Mary       Rayburn    522  86      18      -0.18 C

In [29]:
roster <- roster[order(Lastname,Firstname),]
roster

   Firstname  Lastname   Math Science English score grade
6  Cheryl     Cushing    512  85      28       0.35 C
1  John       Davis      502  95      25       0.56 B
9  Joel       England    573  89      27       0.70 B
4  David      Jones      358  82      15      -1.16 F
8  Greg       Knox       625  95      30       1.34 A
5  Janice     Markhammer 495  75      20      -0.63 D
3  Bullwinkle Moose      412  80      18      -0.86 D
10 Mary       Rayburn    522  86      18      -0.18 C
2  Angela     Williams   600  99      22       0.92 A
7  Reuven     Ytzrhak    410  80      15      -1.05 F