# 课后习题

In [2]:
# read the loans data from file
loans_FILE_PATH <- "~/Documents/R_learn/exercise_data/loans.csv"
loans_all <- read.csv(loans_FILE_PATH,header = TRUE)
loans <- subset(loans_all,select = c(loan_id,account_id,status))

In [3]:
head(loans)

  loan_id account_id status
1 5314     1787      B
2 5316     1801      A
3 6863     9188      A
4 5325     1843      A
5 7240    11013      A
6 6687     8261      A

In [4]:
# judge the bad or good 
# status A for 0, B and D for 1, C for NA
loans$bad_good <- NA
loans[loans$status=="A","bad_good"]<-0
loans[loans$status=="B"|loans$status=="D","bad_good"] <-1

In [9]:
head(loans)

  loan_id account_id status bad_good
1 5314     1787      B      1
2 5316     1801      A      0
3 6863     9188      A      0
4 5325     1843      A      0
5 7240    11013      A      0
6 6687     8261      A      0

In [13]:
# read the clients data from file
clients_FILE_PATH <-"~/Documents/R_learn/exercise_data/clients.csv"
clients <- read.csv(clients_FILE_PATH,header = TRUE,fileEncoding = "gbk")
# use fileEncoding key to refer to the gbk encode

In [15]:
head(clients)

  client_id sex birth_date district_id
1 1         女  1970-12-13 18
2 2         男  1945-02-04  1
3 3         女  1940-10-09  1
4 4         男  1956-12-01  5
5 5         女  1960-07-03  5
6 6         男  1919-09-22 12

In [16]:
# calculate the age 
clients$age <- round((as.Date("2010-01-01")-as.Date(clients$birth_date))/365)

In [18]:
clients$age <- as.numeric(clients$age)

In [19]:
head(clients)

  client_id sex birth_date district_id age
1 1         女  1970-12-13 18          39
2 2         男  1945-02-04  1          65
3 3         女  1940-10-09  1          69
4 4         男  1956-12-01  5          53
5 5         女  1960-07-03  5          50
6 6         男  1919-09-22 12          90

In [20]:
# read the disp data from file
disp_FILE_PATH <- "~/Documents/R_learn/exercise_data/disp.csv"
disp <- read.csv(disp_FILE_PATH,header = TRUE,fileEncoding = "GBK")

In [21]:
head(disp)

  disp_id client_id account_id type
1 1       1         1          所有者
2 2       2         2          所有者
3 3       3         2          用户
4 4       4         3          所有者
5 5       5         3          用户
6 6       6         4          所有者

In [ ]:
# merge the two dataframe
table1 <- dplyr::left_join(loans,disp[disp$type=='所有者',],by='account_id')
table2 <- dplyr::left_join(table1,clients,by='client_id')

In [34]:
head(table2)

  loan_id account_id status bad_good disp_id client_id type   sex birth_date
1 5314     1787      B      1         2166    2166     所有者 女  1947-07-22
2 5316     1801      A      0         2181    2181     所有者 男  1968-07-22
3 6863     9188      A      0        11006   11314     所有者 男  1936-06-02
4 5325     1843      A      0         2235    2235     所有者 女  1940-04-20
5 7240    11013      A      0        13231   13539     所有者 男  1978-09-07
6 6687     8261      A      0         9892   10200     所有者 女  1980-02-16
  district_id age
1 30          62
2 46          41
3 45          74
4 14          70
5 63          31
6 13          30