## Numpy与Pandas数据的相互转换

Pandas是在Numpy基础上建立的非常流行的数据分析类库；  
提供了强大针对异构、表格类型数据的处理与分析能力。

本节介绍Numpy和Pandas的转换方法：  
1. Numpy数组怎样输入给Pandas的Series、DataFrame；
2. Pandas的Series、DataFrame怎样转换成Numpy的数组

In [1]:
import numpy as np
import pandas as pd

### 怎样将Numpy数组转换成Pandas的数据结构

#### 怎样将Numpy的一维数组变成Pandas的Series

In [2]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
series = pd.Series(arr)
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

#### 怎样将Numpy的二维数组转换成Pandas的DataFrame

In [4]:
arr = np.random.randint(1, 10, size=(5, 4))
arr

array([[3, 9, 6, 3],
       [4, 1, 8, 1],
       [2, 4, 4, 7],
       [4, 8, 4, 7],
       [8, 3, 9, 8]])

In [5]:
df = pd.DataFrame(arr, columns = ["ca", "cb", "cc", "cd"])
df

   ca  cb  cc  cd
0   3   9   6   3
1   4   1   8   1
2   2   4   4   7
3   4   8   4   7
4   8   3   9   8

In [6]:
df[df["ca"] > 4]

   ca  cb  cc  cd
4   8   3   9   8

### 怎样Pandas的数据结构转换成Numpy数组

* 方法1：.values()
* 方法2：.to_numpy()

用途：  
比如Scikit-Learn的模型输入需要的是Numpy的数组  
可以使用Pandas对原始数据做大量的处理后，将结果数据转换成Numpy数组作为输入

#### 将Series转换成Numpy数组

In [7]:
series = pd.Series(range(10))
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
series.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [9]:
series.to_numpy()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

#### 将DataFrame转换成Numpy数组

In [10]:
df = pd.DataFrame(
    [
        [11, 12.23, 45.23],
        [21, 22.23, 55.23],
        [31, 32.23, 65.23],
        [41, 42.23, 75.23]
    ],
    columns = ["feature_a", "feature_b", "feature_c"]
)
df

   feature_a  feature_b  feature_c
0         11      12.23      45.23
1         21      22.23      55.23
2         31      32.23      65.23
3         41      42.23      75.23

In [11]:
df.values

array([[11.  , 12.23, 45.23],
       [21.  , 22.23, 55.23],
       [31.  , 32.23, 65.23],
       [41.  , 42.23, 75.23]])

In [12]:
df.to_numpy()

array([[11.  , 12.23, 45.23],
       [21.  , 22.23, 55.23],
       [31.  , 32.23, 65.23],
       [41.  , 42.23, 75.23]])